body{
background-color:yellow;
}

h1{
text-align:center;
font-size:100px;
color:red;
-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
font-family:"na";
}
@font-face {
font-family: "na";
src: url("na.otf");
}